{% extends 'base.html' %} {% block content %}
<main class="container py-5">
	<section class="card card-body">
		<h1 class="display-1 text-center">Practica 4</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
			eos non sed ipsum doloribus minus consequatur repudiandae minima, ea
			soluta animi ducimus dicta ratione, mollitia delectus quaerat,
			maiores fuga. Assumenda.
		</p>

		<div class="text-center">
			<a class="btn btn-dark" href="/signin/">Sign in</a>
			<a class="btn btn-dark" href="/signup/">Sign up</a>
		</div>
	</section>
</main>
{% endblock %}P
