<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Restablecimiento de contraseña</title>
	</head>
	<body>
		<h2>Hola {{ username }},</h2>
		<p>
			Hemos recibido una solicitud para restablecer la contraseña de tu
			cuenta.
		</p>
		<p>
			Para continuar con el proceso de restablecimiento de contraseña, haz
			clic en el siguiente enlace:
		</p>
		<a href="{{ reset_url }}">{{ reset_url }}</a>
		<p>
			Si no has solicitado el restablecimiento de contraseña, puedes
			ignorar este mensaje.
		</p>
		<p>Gracias,</p>
		<p>Equipo de ejemplo</p>
	</body>
</html>
